# This is a ROBOTIS OpenCM9.04 board with a single STM32F103CB chip.
# http://www.robotis-shop-en.com/?act=shop_en.goods_view&GS=2394

source [find interface/stlink-v2.cfg]

transport select hla_swd

set WORKAREASIZE 0x2000
source [find target/stm32f1x.cfg]

reset_config srst_nogate
